body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 2vw;
    width: 75%;
    height: 100vh;
    border: solid;
    justify-content: space-between;
}

img, button {
    border-radius: 15px;
}

button {
    padding: 20px;
    border-style: none;
    font-size: 1.1rem;
    background-color: darkslategrey;
    color: white;
    letter-spacing: 0.2rem;
}

button:hover {
    font-weight: bold;
    letter-spacing: 0.3rem;
}