body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    width: 75%;
    top: calc(25% + 75px);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

img, button {
    border-radius: 15px;
}

.buttons {
    margin-bottom: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

button {
    padding: 15px clamp(10px, 4vw, 40px);
    border-style: none;
    font-size: clamp(0.7rem, 2vw, 1.1rem);
    background-color: darkslategrey;
    color: white;
    letter-spacing: 0.2rem;
    flex-shrink: 1;
}

button:hover {
    font-size: 1.2rem;
}